<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inno.cpsd" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:theme="@style/AppCompat.NoActionBar" >
        <activity
            android:name=".PageWelcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMoblieActivity"
            android:label="CPSD"
            />
        <activity
            android:name=".PagePolicy"
            android:label="Policy"
            />
        <activity
            android:name=".PageLoginandRegister"
            android:label="Login and Register"

            />
        <activity
            android:name=".PageComplain"
            android:label="Complain"
            android:theme="@style/AlertDialogNoActionBar"
            />
        <activity
            android:name=".PageTimeline"
            android:label="Time Line"
            android:theme="@style/AlertDialogNoActionBar"
            />
        <activity
            android:name=".PageListPage"
            android:label="ListPage"
            android:theme="@style/AlertDialogNoActionBar"
            />


    </application>

</manifest>
